html {
    scroll-behavior: smooth;
}
body{
    position: relative;
}

/* Zum Seitenanfang */
.scroll-container {
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
}

.scroll-container:before  {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
}

.scroll-container a {
    position: sticky;
    top: 88vh;
    cursor: pointer;
    font-size: 20px;
}

nav {
    height: 100px;
    background-color: lightskyblue;
}

nav a {
    text-decoration: none;
}

section{
    height: 500px;
}

footer {
    height: 150px;
    background-color: red;
}
